{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Well-Rounded Childbirth Class - Well Rounded Maternity</title>{% endblock title %}
{% block header %}Well-Rounded Childbirth Class Booking Success{% endblock header %}
{% block content %}
<div class="container">
    <h5>Thank you for signing up for the {{ booking_detail.cb_class.title }}!</h5>
    <p class="body-p">Check your inbox for a confirmation email with details. <b>Print this page 
        as a record of your booking.</b></p>
    <p class="body-p">The cost of the {{ booking_detail.cb_class.title }} is ${{ booking_detail.cost }}. 
        You may pay now by clicking the Buy Now button below, or pay at the first class with check, credit/debit card or cash.</p>
    <div class="container body-p">
        <div class="row mb-2">
            <div class="col-sm-3">
                Name:
            </div>
            <div class="col-sm-9">
                {{ booking_detail.first_name }} {{ booking_detail.last_name }}
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-3">
                Partner Name:
            </div>
            <div class="col-sm-9">
                {{ booking_detail.partner_name }}
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-3">
                Email:
            </div>
            <div class="col-sm-9">
                {{ booking_detail.email }}
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-3">
                Address: 
            </div>
            <div class="col-sm-9">
                {{ booking_detail.address }}<br />
                {{ booking_detail.city }}, {{ booking_detail.state }} {{ booking_detail.postal_code }}
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-3">
                Phone: 
            </div>
            <div class="col-sm-9">
                {{ booking_detail.phone }}
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-3">
                Class: 
            </div>
            <div class="col-sm-9">
                {{ booking_detail.cb_class.title }} ({{ booking_detail.cb_class.get_class_type_display }})
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-3">
                Start Date: 
            </div>
            <div class="col-sm-9">
                {{ booking_detail.cb_class.start_date }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                Location: 
            </div>
            <div class="col-sm-9">
                {{ booking_detail.cb_class.location.location_name }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <!-- Blank for spacing -->
            </div>
            <div class="col-sm-9">
                {{ booking_detail.cb_class.location.location_address }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <!-- Blank for spacing -->
            </div>
            <div class="col-sm-9">
                {{ booking_detail.cb_class.location.location_city }}, {{ booking_detail.cb_class.location.location_state }}  {{ booking_detail.cb_class.location.location_zip }}
            </div>
        </div>
        <div class="row mt-3 mb-2">
            <div class="col text-center">
                {{ form.render }}
            </div>
        </div>
        <div class="row mt-2">
            <div class="col text-center">
                <span style="color: #4ab8cb;"><i class="fab fa-cc-paypal fa-3x"></i></span>
                <h5>Please Click the Return to Merchant Button After You Have Paid to Complete the Transaction</h5>
            </div>
        </div>
    </div>
</div>
{% block social %}{% endblock social %}
{% endblock content %}
