{% extends 'base.html' %}
{% load static %}
{% block keywords %}<meta name="keywords" content="Dr. Coral Slavin, Well-Rounded Family Services, Heart-Based Parenting">{% endblock keywords %}
{% block description %}<meta name="description" content="Well-Rounded Family Services Heart-Based Parenting">{% endblock description %}
{% block title %}<title>Well Rounded Family Services - Heart-Based Parenting</title>{% endblock title %}
{% block header %}Heart-Based Parenting Coaching Program{% endblock header %}
{% block content %}
<div class="jumbotron" style="padding-top: 25px; padding-bottom: 15px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <img src="{% static 'images/heart-based2.jpg' %}" alt="Bring Baby Home" class="img-thumbnail" />
            </div>
            <div class="col-md">
                <div class="container"><h5>Heart-Based Parenting Coaching Program</h5>
                    <!-- <p class="jumbotron-p">Whether you are looking for a natural drug-free birth, 
                        or want to explore your options regarding pain medication during labor, we 
                        are committed to ensuring that parents are well prepared for labor, delivery, 
                        and the postpartum period. Instead of teaching a birthing 'method', we give 
                        you and your partner the information and skills to best accomplish the kind 
                        of birth experience you desire.</p> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p class="body-p">A heart-based approach to parenting is different than simple behavior modification, 
            which basically says, “If you do what I say, I'll give you what you want.”  The problem with that 
            approach is that it promotes a selfish “What's in it for me?” attitude.   Children become externally 
            motivated and behavior change is temporary.  A heart-based approach takes advantage of the internal 
            motivation inside a child for lasting results.  It helps children learn how to develop convictions, 
            process offenses, and value others. </p>    
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p class="body-p">Heart-Based Parenting was developed by Dr. Scott Turansky and Joanne Miller, RN, BSN.  
            It is a Christian based program offered through the National Center for Biblical Parenting.  You do 
            not have to be Christian, however, to benefit from this highly effective parenting approach.  The 
            program has been well-researched and evaluated, demonstrating efficacy for families of all backgrounds.</p>    
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p class="body-p">With my help as your coach, you will focus on one issue with one child (ideally age 4 to 14). 
            Maybe your child can’t follow instructions and needs to develop cooperation.  Or, perhaps your child has a 
            problem with meanness and needs to be kinder.  Maybe your child is unorganized, or seems to have a bad attitude. 
            Learning the skills and strategies in this program will help that child make positive changes in just eight weeks. 
            You can work through the program at your own pace, but pick a period when you can devote time to view the videos, 
            read the materials, meet with me, and practice with your child.  </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p class="body-p">The cost of the 8-week program is $149 and includes all materials.  For more information, please 
            email <a href="mailto:coral.slavin@gmail.com" class="doula-link">coral.slavin@gmail.com</a> or call 262-893-9945.  </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p class="body-p"></p>
    </div>
</div>
{% endblock content %}
