{% extends 'base.html' %}
{% load static %}
{% block description %}<meta name="description" content="Page Not Found Well-Rounded Maternity">{% endblock description %}
{% block title %}<title>Page Not Found - Well Rounded Maternity</title>{% endblock title %}
{% block header %}Page Not Found{% endblock header %}
{% block content %}
<div class="jumbotron">
    <div class="row">
        <div class="col" style="color: #5d559c;"><i class="fas fa-exclamation-triangle fa-10x"></i></div>
        <div class="col"><h3>Ooops, that page was not found.</h3><p class="body-p">Please use the navigation bar above to find 
            what you are looking for.</p></div>
    </div>
</div>
{% endblock content %}
{% block social %}{% endblock social %}
    
