{% extends 'base.html' %}
{% load static %}
{% block keywords %}<meta name="keywords" content="Dr. Coral Slavin, Well-Rounded Maternity, doula, childbirth">{% endblock keywords %}
{% block description %}<meta name="description" content="Contact Well-Rounded Maternity">{% endblock description %}
{% block title %}<title>About - Well Rounded Maternity</title>{% endblock title %}
{% block header %}About{% endblock header %}
{% block content %}
<div class="jumbotron" style="padding-top: 25px; padding-bottom: 15px;">
    <div id="aboutCarousel" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="{% static '/images/breastfeeding.jpg' %}" width="25%" class="d-block w-25 image-fluid" alt="Natual Parenting">
              <div class="carousel-caption" style="position: absolute; top: 60%; transform: translateY(-60%);">
                  <h5 class="rounded" style="background-color: rgba(245, 245, 220, 0.75);">Natural Parenting</h5>
              </div>
          </div>
          <div class="carousel-item">
            <img src="{% static '/images/doulacare.jpg' %}" width="25%" class="d-block image-fluid" alt="Doula Care">
            <div class="carousel-caption" style="position: absolute; top: 60%; transform: translateY(-60%);">
                <h5 class="rounded" style="background-color: rgba(245, 245, 220, 0.75);">Doula Care</h5 class="rounded" style="background-color: beige;">
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static '/images/midwife.jpg' %}" width="25%" class="d-block image-fluid" alt="Midwifery Care">
            <div class="carousel-caption" style="position: absolute; top: 60%; transform: translateY(-60%);">
                <h5 class="rounded" style="background-color: rgba(245, 245, 220, 0.75);">Midwifery Care</h5 class="rounded" style="background-color: beige;">
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static '/images/water_birth.jpg' %}" width="25%" class="d-block image-fluid" alt="Water Birth">
            <div class="carousel-caption" style="position: absolute; top: 60%; transform: translateY(-60%);">
                <h5 class="rounded" style="background-color: rgba(245, 245, 220, 0.75);">Water Birth</h5>
            </div>
          </div>
        </div>
        <div class="container"><p class="jumbotron-p"><h5>Well-Rounded Maternity is . . .</h5></p>
            <p class="jumbotron-p"><b>PEOPLE</b> working together to respond to your needs during pregnancy,
                 birth, and early parenting. Well-Rounded is run by a team of highly 
                 qualified birth professionals including midwives, doulas, and childbirth educators.</p>
            <p class="jumbotron-p"><b>A PROGRAM</b> that gives you confidence in your ability to give birth…balancing the human touch and technology.
                 It is a program of education for pregnancy, birth, labor support, baby care, and much more. Well-Rounded 
                 is here to help you, your new baby, and your family get off to the best possible start.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-auto">
        <img src="{% static 'images/coral_ruth.jpg' %}" class="img-thumbnail" style="margin-bottom: 20px;" />
    </div>
    <div class="col-lg-auto"></div>
        <div class="col-lg-8">
            <h3>About Dr. Coral Slavin</h3>
            <p class="body-p">In November of 1933, as was customary for women of her social stature, my grandmother
                 was dropped off at the hospital, into the hands of strangers, to be delivered of her first child. 
                 Recovering from &quot;twilight sleep&quot; and a difficult &quot;operative&quot; delivery, my grandmother remained 
                 bedridden in the hospital for two weeks. My father was brought to her every four hours to be bottle
                  fed as was fashionable in the 30’s. By the time she was released from the hospital, my grandmother
                  had slipped into a deep and lasting postpartum depression that would prevent her from ever really
                  bonding with her son.</p>
            <p class="body-p">Every caregiver who assists a woman in labor knows that birth can certainly have
                 a &quot;butterfly effect.&quot; And that is why I am passionate about a woman's right to gentle birth 
                 choices. In 1996, my daughter's birth was a wonderful out-of-hospital experience at a birth 
                 center in Maryland. When we moved to Wisconsin the following year, I was dismayed to learn 
                 that birth centers were not yet an option. Our youngest son was born at home instead–an experience
                  that our family cherishes.</p>
        </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p class="body-p">&quot;It had been my burning desire since then to open a center in the Milwaukee area so
             that other women would have the same choices that I was lucky enough to have. All women should 
             be able to birth where ever they are most comfortable, whether at home, in a hospital, or at a 
             freestanding birth center. And to that end, I opened and operated Well-Rounded Maternity Center
              (one of Wisconsin’s first birth centers) from 2004-2019.&quot;</p>    
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p class="body-p">Coral serves on the board of directors for the American Association of Birth Centers
             (AABC). Locally, Coral is on the board and former chair for the C.A.R.E. Network of Wisconsin and
              the Birth In Color Initiative.</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p class="body-p">Coral is married to husband Jim. She has three children. Robert, the oldest was born in a 
            hospital. Ruth was born in a free-standing birth center and Michael was born at home. As a birth professional
             and a mother, she knows the pros and cons of birth in all three settings.</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p class="body-p">Coral has a doctorate in health education, and has, at one time, been certified as a Bradley
             Childbirth Educator; both an ICEA and DONA Doula, an ACE Prenatal Fitness/Yoga Instructor, and a Stress 
             Management Counselor and hypnotherapist. She has been a doula and childbirth educator since 1996 and has
              attended over 500 births locally, in all types of settings.*</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p class="body-p">Coral is dedicated to helping parents-to-be make the choices that are right for them. 
            She understands well the decisions parents face regarding birthplace, care-providers, and interventions.</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p class="body-p">* Coral no longer remains certified or affiliated with Bradley or DONA.</p>
    </div>
</div>
{% endblock content %}
