{% extends 'base.html' %}
{% load static %}
{% block keywords %}<meta name="keywords" content="childbirth classes, doula training, birthing classes, doula workshop, bradley, lamaze, birth centers, birthing centers, natural birth, natural parenting">{% endblock keywords %}
{% block description %}<meta name="description" content="Well-Rounded Maternity provides doula training, childbirth classes, doula services and midwife services.">{% endblock description %}
{% block title %}<title>Well-Rounded Maternity Services</title>{% endblock title %}
{% block content %}
<div class="container">
    <p style="text-align:center">Founded in 1996 by Dr. Coral Slavin, offering childbirth preparation classes and Doula training in southeast Wisconsin.</p>
    <div class="row text-center">
        <div class="col-md-4 mb-3">
            <div class="border-0 card mx-auto">
                <div><img alt="Bringing Baby Home" class="img-thumbnail" src="{% static 'images/bbh_educator3.png' %}" /></div>
                <div class="card-body">
                    <p></p>
                    <a class="stretched-link" href="{% url 'bringing_baby_home:classes' %}">Gottman Bringing Baby Home Program</a></div>
            </div>
        </div>
    
        <div class="col-md-4 mb-3">
            <div class="border-0 card mx-auto">
                <div><img alt="Making Marriage Work" class="img-thumbnail" src="{% static 'images/marriage_index_page.jpg' %}" /></div>
                <div class="card-body">
                    <p></p>
                    <a class="stretched-link" href="{% url 'making_marriage_work:classes' %}">Gottman Seven Principles of Making Marriage Work Program</a></div>
            </div>
        </div>
    
        <div class="col-md-4 mb-3">
            <div class="border-0 card mx-auto">
                <div><img alt="Heart-Based Parenting" class="img-thumbnail" src="{% static 'images/heart_based.jpg' %}" /></div>
                <div class="card-body">
                    <p></p>
                    <a class="stretched-link" href="{% url 'heart_based_parenting:classes' %}">Heart-Based Parenting Program</a></div>
            </div>
        </div>
    </div>
    
    <div class="row text-center">
        <div class="col-md-4 mb-3">
            <div class="border-0 card mx-auto">
                <div><img alt="Doula Training" class="img-thumbnail" src="{% static 'images/doula-care-1_0vfkqe7.png' %}" /></div>
                <div class="card-body">
                    <p>This 2 1/2 day workshop gives you the basics on how to support a family in labor.</p>
                    <a class="stretched-link" href="{% url 'doula_training:doula' %}">Doula Training</a></div>
            </div>
        </div>
    
        <div class="col-md-4 mb-3">
            <div class="border-0 card mx-auto">
                <div><img alt="Dr. Coral Slavin" class="img-thumbnail" src="{% static 'images/coral_401-e1559778711748_yi7b9NB.jpg' %}" /></div>
                <div class="card-body">
                    <p>In November of 1933, as was customary for women of her social stature, my grandmother.....</p>
                    <a class="stretched-link" href="{% url 'about' %}">About Dr. Coral Slavin</a></div>
            </div>
        </div>
    
        <div class="col-md-4 mb-3">
            <div class="border-0 card mx-auto">
                <div><img alt="Doula Training" class="img-thumbnail" src="{% static 'images/classes-1-e1559778769938_eE1Z9M7.jpg' %}" /></div>
                <div class="card-body">
                    <p>Whether you are looking for a natural drug-free birth, or want to explore your options.....</p>
                    <a class="stretched-link" href="{% url 'childbirth_classes:classes' %}">Childbirth Classes</a></div>
            </div>
        </div>
    </div>
    
</div>
{% endblock content %}
