{% extends 'base.html' %}
{% load static %}
{% block description %}<meta name="description" content="Payment Received Well-Rounded Maternity">{% endblock description %}
{% block title %}<title>Payment - Well Rounded Maternity</title>{% endblock title %}
{% block header %}Payment Received{% endblock header %}
{% block content %}
<div class="jumbotron" style="padding-top: 25px; padding-bottom: 15px;">
    <h3>Thank you!</h3>
    <p class="jumbtron-p">Your payment has been received, we look forward to seeing you in class!</p>
</div>
{% endblock content %}
{% block social %}{% endblock social %}
